body{
    background-color: black;
}


.iphone{
    background-image: url('./img/img_inicio/62e879fbe51023114348c2166ccc2096.jpg');
    background-size: cover;
    background-position: center;
    border: 8px solid;
    border-color: rgb(66, 66, 66);
    width: 320px;
    border-radius: 3rem;


    margin: auto;
    top: 50%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.ilha{


    width: 90px;
    margin-left: 105px;
    border-radius: 0% 0% 10rem 10rem;
    align-items: center;
    border: 8px solid;
    border-color: rgb(66, 66, 66);
}

.btn1{
    margin-left: 3px;
    width: 82px;
    border: 1px solid;
    border-color: aliceblue;
}

.voltar{

    width: 92px;
    border-radius: 3rem;
    border: 2px solid;
    border-color: rgb(68, 68, 68);
    margin-bottom: 0.5px;
    margin-left: 116px;
}

.screen {
    height: 600px;
    display: flex;
    gap: 6px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.icon.instagram{
    gap: 5%;
    width: 40px;
}

.icon.calculadora{

    width: 40px;
}
.icon.google{

    width: 40px;
}

.icon.whats{

    width: 40px;
}

.icon.hora{

    width: 100px;
}

.apps{

    margin-top: 100px;
}


